# 1.DATA LOADING AND EXPLORATION

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
data = pd.read_csv("Recruitment_Data.csv")

In [8]:
data.shape

(446, 4)

In [9]:
data.head()

   attrition  performance_rating  sales_quota_pct recruiting_source
0          1                   3         1.088190    Applied Online
1          0                   3         2.394173               NaN
2          1                   2         0.497530            Campus
3          0                   2         2.513958               NaN
4          0                   3         1.424789    Applied Online

In [10]:
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 446 entries, 0 to 445
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   attrition           446 non-null    int64
 1   performance_rating  446 non-null    int64
 2   sales_quota_pct     446 non-null    float64
 3   recruiting_source   241 non-null    object
dtypes: float64(1), int64(2), object(1)
memory usage: 14.1+ KB

In [12]:
# calculating the percentage of null values 
((data.isnull().sum()/len(data.index)).round(4))*100

attrition              0.00
performance_rating     0.00
sales_quota_pct        0.00
recruiting_source     45.96
dtype: float64

In [13]:
# Above we can see that recruiting source is having 45.96 persentage of missing values, hence we need to replace these missing values

In [14]:
# Checking the unique values in Recruiting source and their value count 
data['recruiting_source'].value_counts()

recruiting_source
Applied Online    130
Campus             56
Referral           45
Search Firm        10
Name: count, dtype: int64

In [15]:
# given that the presedntage of missing values is high and the value counts of unique values does not have any outlineer point.
# so we cannot replace this data set with any of the unique values as that might affect our analysics.
# so we have to remove the rows that contain this null values.

In [16]:
data.dropna(inplace=True)

In [18]:
data.shape

(241, 4)

In [19]:
data.head()

   attrition  performance_rating  sales_quota_pct recruiting_source
0          1                   3         1.088190    Applied Online
2          1                   2         0.497530            Campus
4          0                   3         1.424789    Applied Online
5          1                   3         0.548123          Referral
6          1                   3         0.794213    Applied Online

In [20]:
# Now the rows have null values have been removed.

In [21]:
data.groupby(by='recruiting_source')[['attrition','sales_quota_pct']].mean()

                   attrition  sales_quota_pct
recruiting_source
Applied Online      0.246154         1.058590
Campus              0.285714         0.908035
Referral            0.333333         1.023198
Search Firm         0.500000         0.886960

The following conclusions can be made based on the computation above:
                
                1. Those hired through online applications have the greatest sales volume and the lowest attrition
                rate,indicating that those hired online have the best likelihood of sticking with the company.  
                2. Despite having the second-highest sales volume, applicants acquired through referrals have the 
                second-highest attrition rate, which increases the likelihood of them quitting the organization.
                3. The prospects hired through Search Frim are not the best candidates to hire because they have the lowest 
                retention rate and the lowest sales volume.